<ion-view view-title="Cadastro">
  <ion-content id="back" class="pagina-cadastro">

    <h1 class="title">Cadastro de Usuário</h1>

    <div class="list list-inset" id="cadastro-input">
      <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="dados.nome">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="E-mail" ng-model="dados.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Senha" ng-model="dados.senha">
      </label>

      <button class="button button-block button-calm" ng-click="cadastrar()"
      type="submit">Cadastrar</button>

    </div>

  </ion-content>
</ion-view>
