<ion-view view-title="Brasil">
  <ion-content class="pagina-pais">
    <h1>Brasil</h1>
    <iframe width="400" height="200" style="border:none;" ng-src="http://output28.rssinclude.com/output?type=iframe&amp;id=1147001&amp;hash=cdd715be23e0c1642e3d8a3a66ec6547"></iframe>

    <p>Teste</p>
    <iframe width="400" height="200" style="border:none;" ng-src="http://output74.rssinclude.com/output?type=iframe&amp;id=1147000&amp;hash=8747ab9d3208916b3925616b54cce614"></iframe>
    <p>Teste</p>
    <iframe width="400" height="200" style="border:none;" ng-src="http://output45.rssinclude.com/output?type=iframe&amp;id=1147000&amp;hash=8747ab9d3208916b3925616b54cce614"></iframe>
    <p>Teste</p>
    <iframe width="400" height="200" style="border:none;" ng-src="http://output45.rssinclude.com/output?type=iframe&amp;id=1147000&amp;hash=8747ab9d3208916b3925616b54cce614"></iframe>
  </ion-content>
</ion-view>
