body{
  font-family: 'Merriweather', serif;
}

ion-content{
  background-color: #273347;
}

.pagina-pais h1{
  color: white;
  text-align: center;
}

.button.button-outline.button-block {
  text-align: left;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: white;

}

.pagina-home button.button{
  /*border-color: white;*/
  border-top: 2px solid #aaabaf;
}

.pagina-home span{
  display: inline-block;
  vertical-align: middle;
}

.button.button-outline.button-block img{
  margin-top: 10px;
  margin-bottom: -10px;
  width: 40px;
  height: 30px;
}

iframe{
  background-color: white;
}

.title.title-center.header-item{
  font-size: 25px;
}

h2.noticia-title{
  white-space: normal;
  height: 3.6em;
}

h3.selecionar{
  text-align: center;
  color: #9799a0;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;

}

.jornal img{
  height: 35px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.jornal.button.button-block.button-g1{
  background-color: #a3101a;
}

.jornal.button.button-block.button-lavanguardia{
  background-color: #1b2f6d;
}
