body{
  font-family: 'Merriweather', serif;
}

ion-content{
  background-color: #273347;
}

.pagina-pais h1{
  color: white;
  text-align: center;
}

.button.button-outline.button-block {
  text-align: left;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: white;

}

.pagina-home img{
  width: 33%;
  margin: 20px auto;
  padding-left: 5%;
  padding-right: 5%;
}

.pagina-home{
  width: 100%;
  background-image: url('../img/op1.png');
  background-size: cover;
}

.pagina-home button.button{
  /*border-color: white;*/
  border-top: 2px solid #aaabaf;
}

.pagina-favorites button.button{
  /*border-color: white;*/
  border-top: 2px solid #aaabaf;
}

.pagina-home span{
  display: inline-block;
  vertical-align: middle;
}

.pagina-favorites span{
  display: inline-block;
  vertical-align: middle;
}

.button.button-outline.button-block img{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 30px;
}

iframe{
  background-color: white;
}

.title.title-center.header-item{
  font-size: 25px;
}

h2.noticia-title{
  white-space: normal;
  height: 3.6em;
}

h3.selecionar{
  text-align: center;
  color: #9799a0;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;

}

.jornal img{
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jornal.button.button-block.button-g1{
  background-color: #a3101a;
}

.jornal.button.button-block.button-lavanguardia{
  background-color: #1b2f6d;
}

.jornal.button.button-block.button-otempo{
  background-color: #1b4623;
}

.jornal.button.button-block.button-oglobo{
  background-color: #05509a;
}

.jornal.button.button-block.button-lavoz{
  background-color: #05509a;
}

.jornal.button.button-block.button-nationalpost{
  background-color: #fed458;
}

.jornal.button.button-block.button-metronews{
  background-color: #04803f;
}

.jornal.button.button-block.button-torontostar{
  background-color: #236eb5;
}

.jornal.button.button-block.button-lefigaro{
  background-color: #2970B7;
}

.jornal.button.button-block.button-leparisien{
  background-color: #379AD5;
}

.jornal.button.button-block.button-lexpressfr{
  background-color: #E51B29;
}

.jornal.button.button-block.button-ilsole{
  background-color: #FDE1C9;
}

.jornal.button.button-block.button-reforma{
  background-color: #238135;
}
