ion-content{
  background-color: #273347;
}

.pagina-pais h1{
  color: white;
  text-align: center;
}

.button.button-outline.button-block img{
  padding-left: 15px;
}

iframe{
  background-color: white;
}

.title.title-center.header-item{
  font-size: 25px;
}

h2.noticia-title{
  white-space: normal;
  height: 3.6em;
}
